*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header contents */
header{
    background: linear-gradient(145deg, rgb(11,14,143), rgb(6, 240, 123));
    padding:2rem  2.5rem 3rem 2.5rem;
    width: 100%;
}

/* navigational section */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:5rem;
}
header .logo a{
    text-decoration: none;
}
.logo span{
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffff;
    margin-left: 0.5rem;
    letter-spacing: 0.2rem;
}
nav .menu{
    display: flex;
    align-items: center;
    gap:2rem;
}
.menu a{
    text-decoration: none;
    font-family: 'poppin',sans-serif;
    font-size: 1.2rem;
    color:#ffff;
    opacity: 0.9;
}

.menu button{
    background:#00bc9e;
    border-radius: 50px;
    border-color:transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'poppin',sans-serif;
    font-size:1.2rem;
    padding: 0.25rem 1rem;
    outline: none;
    opacity:1;
}
.menu button:hover{
    background:#4240d4; 
}
/* header consultant section */
header section{
    display: flex;
    align-items: center;
    gap:2rem;
}

section .consultant h1{
    font-family:'poppins',sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: #00ffd4;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
}
.consultant p{
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.8;
    letter-spacing: 0.05rem;
    margin: 2rem 0;
    opacity: 0.6;
    width: 90%;
}

.consultant  button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffffff66;
    outline: none;
    padding: 1rem 1.5rem;
}

.consultant button:hover{
    background: #4b48d6;
    border: none;
}

.consult-illustration img{
    height:380px;
    width: 575px;
    margin-top: 25px;
}

/* Main section */

/* trusted clients section */
main .trusted-client{
    background-color: #f4f4f4;
    padding:3rem 0;
}
.trusted-client h3{
    font-family: 'poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    color: #2e2e2e;
    opacity:0.4 ;
    margin-bottom: 0.3rem;    
}
.trusted-client hr{
    opacity: 0.3;
    width:270px;
    margin: 0 auto;
}
main .trustedClient-logo{
    text-align: center;
    margin-top: 2.5rem;
}

.trustedClient-logo img{
    height: 35px;
    margin-right:4rem;
}

/* what we do section */
main .whatWeDo{
    margin:3rem 3rem 4rem;
}

.whatWeDo .caption{
    margin:0 auto;
}
.whatWeDo .caption h3{
    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 5px;
    opacity: 0.4;
    text-align: center;
    margin-bottom: 0.3rem;
}
.whatWeDo .caption hr{
   opacity: 0.3;
   width:130px;
   margin: 0 auto; 
}

.whatWeDo .services{
    display: flex;
    gap: 3.9rem;
    margin-top: 2rem;
}
.services div{
    margin: 0 auto;
}

.services .webApp,.SoftwareDev,.interface{
    text-align: center;
}

.services img{
  height: 65px;
  margin-bottom: 1.2rem;
}
.services h2{
    font-family:'poppins',sans-serif;
    font-size: 1.3rem;
    font-weight:600;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.services p{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:1.2rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1.8rem;
    opacity: 0.5;
    word-spacing: 0.05rem;
}

.services a{
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    font-size: 1.2rem;
    color: #4240d4;
}

/* how we work section */

.HowWeWork{
    background-color: #0a007e;
    padding: 4.5rem 2.5rem 3rem 2.5rem;
}

.HowWeWork .caption h3{
    color: #ffffff;
    font-family:'poppins',sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 5px;
    opacity: 0.3;
    text-align: center;
}
.HowWeWork .caption hr{
    width:150px;
    margin: 0 auto;
    opacity: 0.3;
}

.ExtensiveCaption h2{
    color: #ffff;
    font-family: 'poppins',sans-serif;
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin-bottom:24px;
    margin-top:24px;
}
.ExtensiveCaption span{
    color: #00ffd4;
}

.subscribe{
    display:flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0;
    
}
.pro,.prem,.entre{
    background-color: #ffff;
    border: 1px solid #ffff;
    padding: 1.3rem 2rem 0.8rem 2rem ;
    width: 360px;
}
.subscribe h3{
    font-family: 'poppins',sans-serif;
    font-size: 1rem;
    font-weight: 200;
    opacity: 0.6;
    text-align: center;
    padding: 1rem 0;
}

.pro hr,.prem hr,.entre hr{
    opacity: 0.2;
     
}
.price h2{
    font-family:'poppins', sans-serif;
    font-size: 2.8rem;
    margin: 1.5rem 0; 
    text-align: center;
}
.price span{
    font-size: 1rem;
    opacity: 0.6;
}

.details p{
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    line-height:1.2;
    margin-bottom:20px;
    text-align:center;
    word-spacing:2px;
}

.details span{
    display: block;
    margin-bottom: 14px;
}
.btn{
    text-align: center;
}
.btn button{
    background:#000;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-family: 'poppin',sans-serif;
    font-size:1.2rem;
    margin-bottom: 20px;
    padding:0.8rem 3.8rem;
    outline: none;
    opacity:1;
}
.btn button:hover{
    background: #4b48d6;
    
}

/* section Our Team */

main .ourTeam{
    background-color:#f7f7f7 ;
    padding: 4.5rem 2.5rem 3rem 2.5rem;
  
}
 .ourTeam .teamMember{
    display: flex;
    justify-content: center;
    gap: 170px;
    
 }

 .ourTeam .caption h3{
    color: #9a9a9a;
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    opacity: 0.5;
    text-align: center;
 }
 .ourTeam .caption hr{
    width:140px;
    margin: 0 auto;
    opacity: 0.3;
}
 .teamMember .teams img{
    margin-top: 40px;
    border-radius: 5px;
 }
 .teamMember .teams a{
    color: #5755d9;
    display: block;
    font-family: 'poppins',sans-serif;
    font-size: 1.3rem;
    font-weight:bold;
    margin-top: 20px;
    text-align: center;
    text-decoration: none; 
 }

 .teams p{
    font-family: 'poippins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin-top:10px;
    opacity: 0.4;
    text-align: center;
 }

 /* Open Source Software Section */
 main .SoftwareSource{
    margin:95px 0;
    text-align: center;
 }

 .SoftwareSource .caption h3{
    font-family: 'poppins', sans-serif;
    color: #000;
    margin-bottom: 5px;
    opacity: 0.5;
    text-align: center;
 }

 .SoftwareSource .caption hr{
    width:190px;
    margin: 0 auto;
    opacity: 0.3;
}
.SoftwareSource .opensrc{
    margin:40px 0;
}

.SoftwareSource .softwareCaption h2{
    font-family: 'poppins',sans-serif;
    font-size: 4rem;
    font-weight: 650;
    letter-spacing: 0.1rem;
    margin: 10px 0;
}

.SoftwareSource .github button{
    background: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    color: #000;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2.8rem;
    outline: none;
    opacity: 1;
}

/* Footer Section */

footer{
    background-color: #0a007e;
    padding:70px 50px;
}

footer .footerLinks{
    display: flex;
    justify-content:space-between;
}

.footerLinks ol{
    list-style: none;
}
.footerLinks ol li{
    color: #fff;
    font-family: 'poppins',sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom:20px;
}

.footerLinks ul{
    list-style: none;
}

.footerLinks li{
    margin-bottom: 14px;
}
.footerLinks li a{
    color: #ffff;
    font-family:'poppins',sans-serif;
    font-size: 1rem;
    font-weight: 100;
    opacity: 0.7;
    text-decoration: none;
    

}